@import 
'../../../../global/scss/Fonts.scss',
'../../../../global/scss/Colors.scss';

// MAIN HEADER NAV BAR //
.header {
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    width: 100%;
    height:6rem;
    background: $white;
      .subheader{
        display: flex;
        align-items: center;
          h1{
            margin: 0 .65rem;
            text-align: center;
            font-family: 'bold';
            font-weight: 900;
            font-size: 1.2rem;
            animation: none;
            color:$white;
            background-color: $blue;
            border-radius: .25rem;
            padding:.35rem .45rem .35rem .5rem;
        }
        &:hover{
          transform-origin: 50% 0;
          animation: swing 3.5s ease-in-out forwards infinite;
          }
        @keyframes swing{
          0%{transform: rotate(0deg);}
          25%{transform: rotate(-4deg)}
          50%{transform: rotate(4deg);}
          75%{transform: rotate(-4deg);}
          100%{transform: rotate(0deg)}
      }
    }
    }