@mixin buy-btn(){
    background: $white;
    outline: none;
    border: none;
    color: $black;
    position: relative;
    z-index: 0;
    padding: .75rem 1rem;
    border-radius: .25rem;
    font-family: 'bold';
    font-weight: 900;
    font-size: 0.825rem;
    &::before {
      content: '';
      background: linear-gradient(45deg, $red, $miamiorange);
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 700%;
      z-index: -1;
      filter: blur(1rem);
      width: calc(100% + 0.2rem);
      height: calc(100% + 0.2rem);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius:.25rem;
      outline: none;
    }
      &:hover::before {
      opacity: 1;
      }
      &:hover{
        transition: all .25s ease-in-out;
        transform: scale(1.025);
      }
      &::after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $superwhite;
      left: 0;
      top: 0;
      border-radius: .25rem;
      border: none;
      outline: none;
    }
    @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 700% 0; }
      100% { background-position: 0 0; }
    }
  }