/* FONTS */
@font-face {
  font-family: 'book';
  src: url('../scss/fonts/whril-arial.woff2') format('woff2');
}

@font-face {
  font-family: 'medium';
  src: url('../scss/fonts/whril-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'bold';
  src: url('../scss/fonts/whril-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'arial';
  src: url('../scss/fonts/whril-arial.woff2') format('woff2');
}

@font-face {
  font-family: 'miami';
  src: url('../scss/fonts/BroadwayD.otf') format('otf');
}
